{% extends 'layouts/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="col-md-6 mx-auto">

    <div class="pt-5 pb-3 text-center">
        <h1 class="">Please sign in</h1>
        <p class="text-muted">Time to add some new pins!</p>
    </div>

    <form method="post">
        {% if error %}
            <div class="alert alert-error rounded mb-3" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        </div>
        
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
        </div>

        <div class="d-flex justify-content-between mb-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        
            <a href="#">Forgot password?</a>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in
        </button>
    </form>

    <p class="mt-5 text-center text-muted">Not registred yet? <a href="{{ path('app_register') }}">Create an account.</a></p>
    <p class="text-center text-muted">Password forgot? <a href="{{ path('app_forgot_password_request') }}">Reset password.</a></p>

</div>

{% endblock %}
